<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/static/styles/base.css'>
    <script src='main.js'></script>
</head>
<body>

    <script>
        var message = 'Are you sure you want to continue? This may take a while (~one second for each location point), due to the usage policy of the geomapping API.'
    </script>

    <div class='navbar'>
        <a href="/">Home</a>

        <div class='dropdown'>
            <button class='dropbtn'>Geomapping</button>
                <i class='fa fa-caret-down'></i>
            <div class='dropdown-content'>
                <a href="{{ url_for('choose_points_nr') }}">
                    Choose locations and display them on a map
                </a>
                
                <a href="{{ url_for('display_euro_capitals') }}">
                    Display a map of EU capitals
                </a>
                
                <a href="{{ url_for('display_generate_euro_capitals') }}" onclick="return confirm(message)">
                    Generate & Display a map of EU capitals
                </a>
                
                <a href="{{ url_for('display_country_cap_gdp_per_capita') }}">
                    Display a map of countries, capitals & GDP per capita
                </a>
                
                <a href="{{ url_for('display_generate_country_cap_gdp_per_capita') }}" onclick="return confirm(message)">
                    Generate & Display a map of countries, capitals & GDP per capita
                </a>
            </div>
        </div>

        <div class='dropdown'>
            <button class='dropbtn'>Statistics & Visualizations</button>
            <i class='fa-fa-caret-down'></i>
            <div class='dropdown-content'>
                <a href="{{ url_for('visualize_latitude_gdp') }}">
                    Scatterplot of Latitude & GDP per capita
                </a>
            </div>
        </div>

    </div>

    {% block main %}

    {% endblock %}
</body>
</html>
