<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e09bca1e5a3b4d4aaa84c49ac8116048 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e09bca1e5a3b4d4aaa84c49ac8116048" ></div>
        
</body>
<script>    
    
            var map_e09bca1e5a3b4d4aaa84c49ac8116048 = L.map(
                "map_e09bca1e5a3b4d4aaa84c49ac8116048",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_639617327137425499b9cf31c67fd695 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            var marker_565248590c45449ab885c3bf67dc2cc7 = L.marker(
                [52.3727598, 4.8936041],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_565248590c45449ab885c3bf67dc2cc7.bindTooltip(
                `<div>
                     Netherlands: Amsterdam
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0db9b8144e3945b58febc043f6a65254 = L.marker(
                [37.9839412, 23.7283052],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_0db9b8144e3945b58febc043f6a65254.bindTooltip(
                `<div>
                     Greece: Athens
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fbf5570aaaba4fe08e694e6a26d32d7d = L.marker(
                [52.5170365, 13.3888599],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_fbf5570aaaba4fe08e694e6a26d32d7d.bindTooltip(
                `<div>
                     Germany: Berlin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_55ff2664625746069c23db6bbcef5564 = L.marker(
                [48.1516988, 17.1093063],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_55ff2664625746069c23db6bbcef5564.bindTooltip(
                `<div>
                     Slovakia: Bratislava
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_be24bb3947ec4da08552fa5baed19128 = L.marker(
                [50.8436709, 4.3674366933879565],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_be24bb3947ec4da08552fa5baed19128.bindTooltip(
                `<div>
                     Belgium: Brussels
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aff955b34ff14f62adb572f7d6c40912 = L.marker(
                [44.4361414, 26.1027202],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_aff955b34ff14f62adb572f7d6c40912.bindTooltip(
                `<div>
                     Romania: Bucharest
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_786e5f599b6b454d97c4300d10b5fbf3 = L.marker(
                [47.4979937, 19.0403594],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_786e5f599b6b454d97c4300d10b5fbf3.bindTooltip(
                `<div>
                     Hungary: Budapest
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8caad8a2b19a46379b469027851f3aed = L.marker(
                [55.6867243, 12.5700724],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_8caad8a2b19a46379b469027851f3aed.bindTooltip(
                `<div>
                     Denmark: Copenhagen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_17ecc79e75224b579e43c49f05a8f912 = L.marker(
                [53.3497645, -6.2602732],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_17ecc79e75224b579e43c49f05a8f912.bindTooltip(
                `<div>
                     Republic of Ireland: Dublin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_811ac4599d1f4bd4abba1e34391564df = L.marker(
                [60.1674881, 24.9427473],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_811ac4599d1f4bd4abba1e34391564df.bindTooltip(
                `<div>
                     Finland: Helsinki
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_97bd80ee8aee495099dae6557fd64373 = L.marker(
                [38.7077507, -9.1365919],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_97bd80ee8aee495099dae6557fd64373.bindTooltip(
                `<div>
                     Portugal: Lisbon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_814051cba8be47ef81a4d7275049407d = L.marker(
                [46.0499803, 14.5068602],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_814051cba8be47ef81a4d7275049407d.bindTooltip(
                `<div>
                     Slovenia: Ljubljana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8e2fd4ced2bf40ad8e87d34d11ae8ed3 = L.marker(
                [49.6112768, 6.129799],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_8e2fd4ced2bf40ad8e87d34d11ae8ed3.bindTooltip(
                `<div>
                     Luxembourg: Luxembourg City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8066b13acb6445a9ee6f9ba3913de50 = L.marker(
                [40.4167047, -3.7035825],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_e8066b13acb6445a9ee6f9ba3913de50.bindTooltip(
                `<div>
                     Spain: Madrid
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d71b8699e839488c8f2e76161c27219a = L.marker(
                [35.1739302, 33.364726],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_d71b8699e839488c8f2e76161c27219a.bindTooltip(
                `<div>
                     Cyprus: Nicosia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9229814651c342a7a9c6bba60aac7d8d = L.marker(
                [48.8566969, 2.3514616],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_9229814651c342a7a9c6bba60aac7d8d.bindTooltip(
                `<div>
                     France: Paris
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2efb86d76c5c48a8887bc588741ef500 = L.marker(
                [50.0596288, 14.446459273258009],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_2efb86d76c5c48a8887bc588741ef500.bindTooltip(
                `<div>
                     Czech Republic: Prague
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_483a532527914390a2bcad761df6e682 = L.marker(
                [56.9493977, 24.1051846],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_483a532527914390a2bcad761df6e682.bindTooltip(
                `<div>
                     Latvia: Riga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d8d7a24ba274488a8e6997bb4167bb74 = L.marker(
                [41.8933203, 12.4829321],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_d8d7a24ba274488a8e6997bb4167bb74.bindTooltip(
                `<div>
                     Italy: Rome
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b2f81b1714174c8382d3d42420905b54 = L.marker(
                [42.6978634, 23.3221789],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_b2f81b1714174c8382d3d42420905b54.bindTooltip(
                `<div>
                     Bulgaria: Sofia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4378f7b1bc4b4755a5cc5b0246514189 = L.marker(
                [59.3251172, 18.0710935],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_4378f7b1bc4b4755a5cc5b0246514189.bindTooltip(
                `<div>
                     Sweden: Stockholm
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_83aefcc881584c73b8b42344dded2041 = L.marker(
                [59.4372155, 24.7453688],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_83aefcc881584c73b8b42344dded2041.bindTooltip(
                `<div>
                     Estonia: Tallinn
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_faf44caec6c844cb8030544b991b7aa6 = L.marker(
                [35.8989818, 14.5136759],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_faf44caec6c844cb8030544b991b7aa6.bindTooltip(
                `<div>
                     Malta: Valletta
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_47b5e988e0cc4f6ab9695fd395436825 = L.marker(
                [48.2083537, 16.3725042],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_47b5e988e0cc4f6ab9695fd395436825.bindTooltip(
                `<div>
                     Austria: Vienna
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a366fc4680a441d4848c5eaa65cae705 = L.marker(
                [54.6870458, 25.2829111],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_a366fc4680a441d4848c5eaa65cae705.bindTooltip(
                `<div>
                     Lithuania: Vilnius
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f7c7872b26b54073b43a882c9df4910f = L.marker(
                [52.2319581, 21.0067249],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_f7c7872b26b54073b43a882c9df4910f.bindTooltip(
                `<div>
                     Poland: Warsaw
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_deebb6a493e0428daaa8c44d63ced5d7 = L.marker(
                [45.8131847, 15.9771774],
                {}
            ).addTo(map_e09bca1e5a3b4d4aaa84c49ac8116048);
        
    
            marker_deebb6a493e0428daaa8c44d63ced5d7.bindTooltip(
                `<div>
                     Croatia: Zagreb
                 </div>`,
                {"sticky": true}
            );
        
</script>