<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c7035b5e1eb145b2b3cd2d5692954295 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c7035b5e1eb145b2b3cd2d5692954295" ></div>
        
</body>
<script>    
    
            var map_c7035b5e1eb145b2b3cd2d5692954295 = L.map(
                "map_c7035b5e1eb145b2b3cd2d5692954295",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_88604bd2e2ee4142a2d5898f310e31c0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            var marker_b5a989780fb64b6898074645283c8dd8 = L.marker(
                [52.3727598, 4.8936041],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_b5a989780fb64b6898074645283c8dd8.bindTooltip(
                `<div>
                     Netherlands: Amsterdam
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0c4aa7bf9caf4d1a806287f904ec26b8 = L.marker(
                [37.9839412, 23.7283052],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_0c4aa7bf9caf4d1a806287f904ec26b8.bindTooltip(
                `<div>
                     Greece: Athens
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6d091f8f1aab40a482fc8a9fdc956110 = L.marker(
                [52.5170365, 13.3888599],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_6d091f8f1aab40a482fc8a9fdc956110.bindTooltip(
                `<div>
                     Germany: Berlin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9b3a1f89e8745179f0dc1eddb366a39 = L.marker(
                [48.1516988, 17.1093063],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_e9b3a1f89e8745179f0dc1eddb366a39.bindTooltip(
                `<div>
                     Slovakia: Bratislava
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_31ba4746c27e4fbcb34dae75e22a6e87 = L.marker(
                [50.8436709, 4.3674366933879565],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_31ba4746c27e4fbcb34dae75e22a6e87.bindTooltip(
                `<div>
                     Belgium: Brussels
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c0c9e67fa87e4e098f38d515624bd852 = L.marker(
                [44.4361414, 26.1027202],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_c0c9e67fa87e4e098f38d515624bd852.bindTooltip(
                `<div>
                     Romania: Bucharest
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5984b337fa1648eb80bd9c9884fb5c29 = L.marker(
                [47.4979937, 19.0403594],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_5984b337fa1648eb80bd9c9884fb5c29.bindTooltip(
                `<div>
                     Hungary: Budapest
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_05f9613a65d241548dbb9b195919b2f3 = L.marker(
                [55.6867243, 12.5700724],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_05f9613a65d241548dbb9b195919b2f3.bindTooltip(
                `<div>
                     Denmark: Copenhagen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e027b802a664565bcef374eac5bf365 = L.marker(
                [53.3497645, -6.2602732],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_2e027b802a664565bcef374eac5bf365.bindTooltip(
                `<div>
                     Republic of Ireland: Dublin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_66f80742644546598c7b29e010055c1f = L.marker(
                [60.1674881, 24.9427473],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_66f80742644546598c7b29e010055c1f.bindTooltip(
                `<div>
                     Finland: Helsinki
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b267a4c7cff4cb2a57b0736005edb28 = L.marker(
                [38.7077507, -9.1365919],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_1b267a4c7cff4cb2a57b0736005edb28.bindTooltip(
                `<div>
                     Portugal: Lisbon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dd2e2cd5db124d2a98ef4098f07dc51a = L.marker(
                [46.0499803, 14.5068602],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_dd2e2cd5db124d2a98ef4098f07dc51a.bindTooltip(
                `<div>
                     Slovenia: Ljubljana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_14f574348bfe42be8b4f9ff6f60e1b03 = L.marker(
                [49.6112768, 6.129799],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_14f574348bfe42be8b4f9ff6f60e1b03.bindTooltip(
                `<div>
                     Luxembourg: Luxembourg City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e56ee4d85d54f289811b74ca1bc77b8 = L.marker(
                [40.4167047, -3.7035825],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_3e56ee4d85d54f289811b74ca1bc77b8.bindTooltip(
                `<div>
                     Spain: Madrid
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4354e96a8255421fae72ff3ca720e3e1 = L.marker(
                [35.1739302, 33.364726],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_4354e96a8255421fae72ff3ca720e3e1.bindTooltip(
                `<div>
                     Cyprus: Nicosia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b2a0a24302bc497a8da3f78c8c0699c2 = L.marker(
                [48.8566969, 2.3514616],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_b2a0a24302bc497a8da3f78c8c0699c2.bindTooltip(
                `<div>
                     France: Paris
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b4d9daf2343408782b376f68a155a49 = L.marker(
                [50.0596288, 14.446459273258009],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_1b4d9daf2343408782b376f68a155a49.bindTooltip(
                `<div>
                     Czech Republic: Prague
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_52e829a39c40439f9d2030db395c2225 = L.marker(
                [56.9493977, 24.1051846],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_52e829a39c40439f9d2030db395c2225.bindTooltip(
                `<div>
                     Latvia: Riga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_34d81ffe3af44020925f0d8f1c0e36bf = L.marker(
                [41.8933203, 12.4829321],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_34d81ffe3af44020925f0d8f1c0e36bf.bindTooltip(
                `<div>
                     Italy: Rome
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4010f725dac9404e8f0d9de314adbb0d = L.marker(
                [42.6978634, 23.3221789],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_4010f725dac9404e8f0d9de314adbb0d.bindTooltip(
                `<div>
                     Bulgaria: Sofia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f34e37e8dab84d099123a2b0ac4530e8 = L.marker(
                [59.3251172, 18.0710935],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_f34e37e8dab84d099123a2b0ac4530e8.bindTooltip(
                `<div>
                     Sweden: Stockholm
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_28aefb5f3cdd436599da8b372377e6f1 = L.marker(
                [59.4372155, 24.7453688],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_28aefb5f3cdd436599da8b372377e6f1.bindTooltip(
                `<div>
                     Estonia: Tallinn
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d2c8be6a83b543ccbc257aac35c8652b = L.marker(
                [35.8989818, 14.5136759],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_d2c8be6a83b543ccbc257aac35c8652b.bindTooltip(
                `<div>
                     Malta: Valletta
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_260c7f0cbe7a4a76b403569c98bb8cf8 = L.marker(
                [48.2083537, 16.3725042],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_260c7f0cbe7a4a76b403569c98bb8cf8.bindTooltip(
                `<div>
                     Austria: Vienna
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_487f8bd7b4cb4b40885cffb2359d86f0 = L.marker(
                [54.6870458, 25.2829111],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_487f8bd7b4cb4b40885cffb2359d86f0.bindTooltip(
                `<div>
                     Lithuania: Vilnius
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_162f58484597461f9582f5435074af05 = L.marker(
                [52.2319581, 21.0067249],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_162f58484597461f9582f5435074af05.bindTooltip(
                `<div>
                     Poland: Warsaw
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_069b3cd471994e979b2d417b7017cadd = L.marker(
                [45.8131847, 15.9771774],
                {}
            ).addTo(map_c7035b5e1eb145b2b3cd2d5692954295);
        
    
            marker_069b3cd471994e979b2d417b7017cadd.bindTooltip(
                `<div>
                     Croatia: Zagreb
                 </div>`,
                {"sticky": true}
            );
        
</script>