<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9c3c3f2420534319b7a4cf72dda7b84e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_9c3c3f2420534319b7a4cf72dda7b84e" ></div>
        
</body>
<script>    
    
            var map_9c3c3f2420534319b7a4cf72dda7b84e = L.map(
                "map_9c3c3f2420534319b7a4cf72dda7b84e",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a02fbe378c4c425eae86c1f95cc6a500 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9c3c3f2420534319b7a4cf72dda7b84e);
        
    
            var marker_7b8a6fc0c151405f905eb39f678a4d68 = L.marker(
                [47.7891763, 22.8725598],
                {}
            ).addTo(map_9c3c3f2420534319b7a4cf72dda7b84e);
        
    
            marker_7b8a6fc0c151405f905eb39f678a4d68.bindTooltip(
                `<div>
                     Location: Hometown
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4840dc3667e642d9ad53fcd762f15a58 = L.marker(
                [44.4347614, 26.060308],
                {}
            ).addTo(map_9c3c3f2420534319b7a4cf72dda7b84e);
        
    
            marker_4840dc3667e642d9ad53fcd762f15a58.bindTooltip(
                `<div>
                     Location: Palatul Cotroceni
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0d584f300f944317a648d92a629ec256 = L.marker(
                [43.7525749, 28.5729087],
                {}
            ).addTo(map_9c3c3f2420534319b7a4cf72dda7b84e);
        
    
            marker_0d584f300f944317a648d92a629ec256.bindTooltip(
                `<div>
                     Location: Seaside
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_82875606ce1a49af9aa07f2a9c835fe5 = L.marker(
                [52.5170365, 13.3888599],
                {}
            ).addTo(map_9c3c3f2420534319b7a4cf72dda7b84e);
        
    
            marker_82875606ce1a49af9aa07f2a9c835fe5.bindTooltip(
                `<div>
                     Location: Berlin
                 </div>`,
                {"sticky": true}
            );
        
</script>