{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block main %}

<style>
  body {
  background-color: #F9EBEA;
  }

  h1 {
    padding: 30px 40px;
    width: 50%;
    border-radius: 20px;
    display: block;
    background-color: lightblue;
    text-align: center;
  }

  a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 20px 31px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    width: 30%;
  }

  a:hover {
    background-color: teal;
  }
</style>

<script>
var message = 'Are you sure you want to continue? This may take a while (~one second for each location point), due to the usage policy of the geomapping API.'
</script>

<h1>Choose the type of Geomapping you want to explore</h1>


<a href="{{ url_for('choose_points_nr') }}">
  Choose locations and display them on a map
</a><br>

<a href="{{ url_for('display_euro_capitals') }}">
  Display a map of EU capitals
</a><br>

<a href="{{ url_for('display_generate_euro_capitals') }}" onclick="return confirm(message)">
  Generate & Display a map of EU capitals
</a><br>

<a href="{{ url_for('display_country_cap_gdp_per_capita') }}">
  Display a map of countries, capitals & GDP per capita
</a><br>

<a href="{{ url_for('display_generate_country_cap_gdp_per_capita') }}" onclick="return confirm(message)">
  Generate & Display a map of countries, capitals & GDP per capita
</a><br>

<a href="{{ url_for('visualize_latitude_gdp') }}">
  Visualize Scatterplot of Latitude & GDP per capita
</a>


{% endblock %}
